{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://popov",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/popov.mastervision.su/tarot-skills",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2020-08-05T11:07:07.074Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2020-08-05T11:07:07.408Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1597222425484.1833,
          "date": "2020-08-12T08:54:35.312Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1596791803741.7375,
          "date": "2020-08-07T09:23:50.920Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.eot",
          "mtimeMs": 1595861074000,
          "date": "2020-08-05T11:07:08.665Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.svg",
          "mtimeMs": 1595861074000,
          "date": "2020-08-05T11:07:09.341Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.ttf",
          "mtimeMs": 1595861074000,
          "date": "2020-08-05T11:07:09.800Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.woff",
          "mtimeMs": 1595861074000,
          "date": "2020-08-05T11:07:10.231Z"
        },
        {
          "file": "fonts/SFUIDisplayBold.woff2",
          "mtimeMs": 1595861074000,
          "date": "2020-08-05T11:07:10.688Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.eot",
          "mtimeMs": 1595861096000,
          "date": "2020-08-05T11:07:11.145Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.svg",
          "mtimeMs": 1595861096000,
          "date": "2020-08-05T11:07:11.775Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.ttf",
          "mtimeMs": 1595861096000,
          "date": "2020-08-05T11:07:12.261Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff",
          "mtimeMs": 1595861096000,
          "date": "2020-08-05T11:07:12.708Z"
        },
        {
          "file": "fonts/SFUIDisplayLight.woff2",
          "mtimeMs": 1595861096000,
          "date": "2020-08-05T11:07:13.132Z"
        },
        {
          "file": "img/icons/card-pentacle.png",
          "mtimeMs": 1596699131911.9578,
          "date": "2020-08-06T07:32:43.154Z"
        },
        {
          "file": "img/icons/card-sword.png",
          "mtimeMs": 1596699137849.8967,
          "date": "2020-08-06T07:32:44.245Z"
        },
        {
          "file": "img/icons/day-1.png",
          "mtimeMs": 1596642672323.2566,
          "date": "2020-08-05T15:51:51.833Z"
        },
        {
          "file": "img/icons/day-2.png",
          "mtimeMs": 1596642675596.3735,
          "date": "2020-08-05T15:51:52.170Z"
        },
        {
          "file": "img/icons/day-3.png",
          "mtimeMs": 1596642678012.6958,
          "date": "2020-08-05T15:51:52.521Z"
        },
        {
          "file": "img/icons/sun-1.png",
          "mtimeMs": 1596699148803.4512,
          "date": "2020-08-06T07:32:44.567Z"
        },
        {
          "file": "img/icons/sun-2.png",
          "mtimeMs": 1596699151981.7446,
          "date": "2020-08-06T07:32:44.888Z"
        },
        {
          "file": "img/images/basile.png",
          "mtimeMs": 1596699051792.2356,
          "date": "2020-08-06T07:32:45.691Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1596625709557.134,
          "date": "2020-08-05T11:08:38.818Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1596625712740.3418,
          "date": "2020-08-05T11:08:39.178Z"
        },
        {
          "file": "img/images/usefull.png",
          "mtimeMs": 1596625715699.496,
          "date": "2020-08-05T11:08:39.531Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1597318153976.934,
          "date": "2020-08-13T12:02:32.017Z"
        },
        {
          "file": "img/icons/card-king.png",
          "mtimeMs": 1596699130051.724,
          "date": "2020-08-06T07:32:42.823Z"
        },
        {
          "file": "img/icons/card-scales.png",
          "mtimeMs": 1596699134127.427,
          "date": "2020-08-06T07:32:43.497Z"
        },
        {
          "file": "img/icons/dagger.png",
          "mtimeMs": 1596642669792.9705,
          "date": "2020-08-05T15:51:51.491Z"
        },
        {
          "file": "img/icons/card-goblet.png",
          "mtimeMs": 1596699123609.0713,
          "date": "2020-08-06T07:32:41.720Z"
        },
        {
          "file": "img/icons/card-sun.png",
          "mtimeMs": 1596699136199.8025,
          "date": "2020-08-06T07:32:43.871Z"
        },
        {
          "file": "img/icons/wheel.png",
          "mtimeMs": 1596699156256.1013,
          "date": "2020-08-06T07:32:45.225Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1596636409734.7917,
          "date": "2020-08-05T14:20:29.628Z"
        },
        {
          "file": "img/revs/text-1.min.jpg",
          "mtimeMs": 1596636409773.8203,
          "date": "2020-08-05T14:20:30.291Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1596636409779.8218,
          "date": "2020-08-05T14:20:30.730Z"
        },
        {
          "file": "img/revs/text-10.min.jpg",
          "mtimeMs": 1596636409793.8335,
          "date": "2020-08-05T14:20:31.136Z"
        },
        {
          "file": "img/revs/text-11.jpg",
          "mtimeMs": 1596636409795.8325,
          "date": "2020-08-05T14:20:31.675Z"
        },
        {
          "file": "img/revs/text-11.min.jpg",
          "mtimeMs": 1596636409823.939,
          "date": "2020-08-05T14:20:32.091Z"
        },
        {
          "file": "img/revs/text-12.jpg",
          "mtimeMs": 1596636409825.9407,
          "date": "2020-08-05T14:20:32.525Z"
        },
        {
          "file": "img/revs/text-12.min.jpg",
          "mtimeMs": 1596636409840.9512,
          "date": "2020-08-05T14:20:32.958Z"
        },
        {
          "file": "img/revs/text-13.jpg",
          "mtimeMs": 1596636409863.0068,
          "date": "2020-08-05T14:20:33.542Z"
        },
        {
          "file": "img/revs/text-13.min.jpg",
          "mtimeMs": 1596636409877.089,
          "date": "2020-08-05T14:20:34.064Z"
        },
        {
          "file": "img/revs/text-14.jpg",
          "mtimeMs": 1596636409885.0945,
          "date": "2020-08-05T14:20:34.479Z"
        },
        {
          "file": "img/revs/text-14.min.jpg",
          "mtimeMs": 1596636409898.1035,
          "date": "2020-08-05T14:20:35.003Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1596636409924.1514,
          "date": "2020-08-05T14:20:35.496Z"
        },
        {
          "file": "img/revs/text-2.min.jpg",
          "mtimeMs": 1596636409990.1914,
          "date": "2020-08-05T14:20:36.040Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1596636410004.1997,
          "date": "2020-08-05T14:20:36.558Z"
        },
        {
          "file": "img/revs/text-3.min.jpg",
          "mtimeMs": 1596636410019.2097,
          "date": "2020-08-05T14:20:37.139Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1596636410089.2559,
          "date": "2020-08-05T14:20:37.687Z"
        },
        {
          "file": "img/revs/text-4.min.jpg",
          "mtimeMs": 1596636410110.2695,
          "date": "2020-08-05T14:20:38.097Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1596636410139.2886,
          "date": "2020-08-05T14:20:38.624Z"
        },
        {
          "file": "img/revs/text-5.min.jpg",
          "mtimeMs": 1596636410143.2917,
          "date": "2020-08-05T14:20:39.032Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1596636410156.3005,
          "date": "2020-08-05T14:20:39.544Z"
        },
        {
          "file": "img/revs/text-6.min.jpg",
          "mtimeMs": 1596636410174.3125,
          "date": "2020-08-05T14:20:39.941Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1596636410189.3223,
          "date": "2020-08-05T14:20:40.404Z"
        },
        {
          "file": "img/revs/text-7.min.jpg",
          "mtimeMs": 1596636410192.3245,
          "date": "2020-08-05T14:20:40.875Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1596636410215.3396,
          "date": "2020-08-05T14:20:41.287Z"
        },
        {
          "file": "img/revs/text-8.min.jpg",
          "mtimeMs": 1596636410266.3728,
          "date": "2020-08-05T14:20:41.671Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1596636410281.3828,
          "date": "2020-08-05T14:20:42.065Z"
        },
        {
          "file": "img/revs/text-9.min.jpg",
          "mtimeMs": 1596636410293.3909,
          "date": "2020-08-05T14:20:42.411Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1596636410307.9382,
          "date": "2020-08-05T14:20:42.817Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1596636410330.4534,
          "date": "2020-08-05T14:20:43.244Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1596636410333.456,
          "date": "2020-08-05T14:20:43.650Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1596636410348.4653,
          "date": "2020-08-05T14:20:44.060Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1596636410361.4746,
          "date": "2020-08-05T14:20:44.471Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1596636410481.5535,
          "date": "2020-08-05T14:20:44.880Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1596636410506.071,
          "date": "2020-08-05T14:20:45.300Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1596636410508.5715,
          "date": "2020-08-05T14:20:45.690Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1596636410557.1038,
          "date": "2020-08-05T14:20:46.070Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1596636410561.6074,
          "date": "2020-08-05T14:20:46.461Z"
        },
        {
          "file": "img/icons/card-half-moon.png",
          "mtimeMs": 1596699125798.2905,
          "date": "2020-08-06T07:32:42.083Z"
        },
        {
          "file": "img/icons/card-helmet.png",
          "mtimeMs": 1596699127910.7249,
          "date": "2020-08-06T07:32:42.436Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1596791803739.7356,
          "date": "2020-08-07T09:23:50.574Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1596642680771.3967,
          "date": "2020-08-05T15:51:52.956Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1596642689454.7341,
          "date": "2020-08-05T15:51:54.184Z"
        },
        {
          "file": "promo/index.php",
          "mtimeMs": 1596729921154,
          "date": "2020-08-06T16:05:26.051Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1596792536785.7454,
          "date": "2020-08-07T09:28:59.965Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1596792477403.8452,
          "date": "2020-08-07T09:28:07.853Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1596791308661.5493,
          "date": "2020-08-07T09:23:51.240Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1596792170049.7976,
          "date": "2020-08-07T09:23:51.550Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1597158229538.0686,
          "date": "2020-08-11T15:04:24.572Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1597329854320.0525,
          "date": "2020-08-13T14:44:32.947Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1597334661787.205,
          "date": "2020-08-13T16:05:00.285Z"
        },
        {
          "file": "img/icons/card-sun-2.png",
          "mtimeMs": 1597304985592.3752,
          "date": "2020-08-13T08:36:21.021Z"
        },
        {
          "file": "course/index.php",
          "mtimeMs": 1597334692446.2559,
          "date": "2020-08-13T16:04:59.595Z"
        },
        {
          "file": "course/vars.php",
          "mtimeMs": 1597334637277.3682,
          "date": "2020-08-13T16:04:59.871Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/_maket/1200PT.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 73438,
          "optimized": true
        }
      },
      {
        "file": "_app/_maket/700PT.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 215671,
          "optimized": true
        }
      },
      {
        "file": "_app/_maket/PT.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 293655,
          "optimized": true
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "customOutput": "bonus\\index.html"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/remind.pug",
        "config": {
          "customOutput": "remind\\index.html"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/icons/card-goblet.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 10542
        }
      },
      {
        "file": "img/icons/card-half-moon.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 9969
        }
      },
      {
        "file": "img/icons/card-helmet.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 12120
        }
      },
      {
        "file": "img/icons/card-king.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 44815
        }
      },
      {
        "file": "img/icons/card-pentacle.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 7578
        }
      },
      {
        "file": "img/icons/card-scales.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 4189
        }
      },
      {
        "file": "img/icons/card-sun.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 12706
        }
      },
      {
        "file": "img/icons/card-sword.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 19528
        }
      },
      {
        "file": "img/icons/dagger.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8034,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 7510,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 4352,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5473,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5032,
          "optimized": true
        }
      },
      {
        "file": "img/icons/sun-1.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 19893
        }
      },
      {
        "file": "img/icons/sun-2.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 19270
        }
      },
      {
        "file": "img/icons/tg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 383,
          "optimized": true
        }
      },
      {
        "file": "img/icons/wheel.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 17149
        }
      },
      {
        "file": "img/images/basile.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 690911
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 16976,
          "optimized": true
        }
      },
      {
        "file": "img/images/main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 58983,
          "optimized": true
        }
      },
      {
        "file": "img/images/usefull.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 75280,
          "optimized": true
        }
      }
    ]
  }
}
