#plan
	padding 45px 0 90px
.general-img-plan-1
	top 0
	right -280px
.general-img-plan-2
	top:  40%
	left -220px
.general-img-plan-3
	bottom:  100px
	right -200px
.plan-links
	display table
	width 100%
	li
		display table-cell
		width 33%
		list-style none
		text-align center
		a
			width 100%
			font-size: 46px
			font-family: SUDB
			font-weight: bold
			color  #ACCDFF;
			transition: all .3s ease
			span
				text-transform uppercase
			&:hover
				color cB
		&.active
			a
				color cB
.plan-packet-subtitle
	font-size: 18px
	letter-spacing: 0.3em;
	color: #ADADAD;
	margin-bottom: 20px
.lesson-title
	cursor pointer
	font-size: 24px
	font-family: SUDB
	font-weight: bold
	position relative
	margin-bottom: 15px
	color cB
	span
		position absolute
		display block
		width 25px
		height 25px
		transform: rotate(45deg)
		border-bottom: 2px solid cB
		border-right: 2px solid cB
		top 0
		right 0
		transition: all .3s ease
.lesson-description
	display none
.general-list-lesson
	padding: 0 0 20px
	li
		padding-left: 25px
		margin-bottom: 10px
		&:before
			width 15px
.plan-packet-title-get
	font-size: 24px
	margin: 40px 0 20px
	span
		font-family: SUDB
		font-weight: bold
		color cB
.button-container-plan
	margin-top: 60px
.tab-content > .tab-pane
	display: none;
.tab-content > .active
	display: block;