#prices
	padding 45px 0 90px
.general-img-prices-1
.general-img-prices-2
	top calc(50% - 100px)
.general-img-prices-1
	left -200px
.general-img-prices-2
	right -200px
.general-title-prices
	text-align center
.packet
	background-color #fff
	width 100%
	max-width 360px
	margin  0 auto 30px
	padding 10px
	text-align center
	&-head
		padding 20px 0
		border-top: 2px solid cB
		border-bottom:  2px solid cB
		&-title
			font-size: 26px
			font-family: SUDB
			font-weight: bold
			color: cB
			text-transform uppercase
			text-align center
			small
				color #000
				text-transform none
				font-size: 16px
				font-family: SUDL
				font-weight: normal
				display block
	&-body
		padding 20px 0
		min-height 278px
	&-footer
		padding 20px 0
		border-top: 2px solid cB
		border-bottom:  2px solid cB
.modal-up
	display inline-block
	border-bottom: 1px dotted
	font-size: 14px
	font-family: SUDB
	font-weight: bold
	opacity .4
	transition: all .3s ease
	margin-bottom: 20px
	&:hover
		opacity 1
.general-list-packet
	li
		text-align: left 
		padding-left: 25px
		margin-bottom: 0
		&:before
			width 15px
.cost
	font-size: 24px
	font-family: SUDB
	font-weight: bold
	margin-bottom: 20px
	line-height: 1.2
	span
		display block
		text-transform uppercase
		font-size: 36px
	&-full
			span
				text-decoration line-through
				&.unbroken
					text-decoration none
	&-sale
		color red
	&-today
		color limegreen
		margin-bottom: 25px
.prepayment
	text-align center
	&-title
		font-size: 32px
		font-family: SUDB
		font-weight: bold
		text-transform uppercase
		color red
	&-text
		font-size: 20px
		margin 10px 0 20px
.timer-title
	line-height: 1.2
	font-size: 30px
	font-family: SUDB
	font-weight: bold
	text-transform uppercase
	color red
	text-align center
	margin-top: 40px
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 20px
.flip-clock-divider .flip-clock-label
	color #000
.flip-clock-wrapper .flip
	box-shadow: none
.flip-clock-dot
	background-color: cB
	box-shadow: none
.flip-clock-wrapper ul li a div div.inn
	color: red
	background-color: #fff
	text-shadow: none
	border-radius: 0
	border: 1px solid cB
.flip-clock-wrapper ul li a div.down
	border-radius: 0