@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
		header
			margin-bottom: 100px
@media screen and (max-width 991px)
	.video-wrapper-main
		margin-bottom: 25px
@media screen and (max-width 767px)
	header
		padding 15px 0
		margin-bottom: 15px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		text-align center
		float: none
		line-height: 1
	.contact
		display inline-block
		line-height: 1
@media screen and (max-width 560px)
	#main
		padding 0 0 40px
	.header-logo
		width 70px
	.contact
		font-size: 12px
	.main-title
		font-size: 18px
	.main-text
		font-size: 16px
		margin-bottom: 30px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	.video-wrapper-main
		margin-bottom: 15px
	.main-subtitle
		font-size: 20px
		margin 15px 0
	.main-text
		margin-top: 20px