#main
	padding 0 0 60px
	text-align center
	min-height calc(100vh - 147px)
.main-title
	font-size: 24px
	margin-bottom: 30px
	a
		display block
		color cB
		font-family: SUDB
		font-weight: bold
		font-size: 28px
		&:hover
			text-decoration underline
.main-subtitle
	font-size: 20px
.main-img-1
	display block
	margin 0 auto 20px
	height 100px
.main-img-2
	display block
	margin 20px auto 0
	height 100px