@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.general-text-video
		margin-top: 80px
	.about-section-img
		margin-right 0
	.general-img-container-author img:first-child
		bottom: -279px
@media screen and (max-width 1199px)
	.general-img-container-main img
		bottom: -145px
	.general-text-video
		margin-top: 0
	.day
		background-position: center right
@media screen and (max-width 991px)
	.general-img-container
		padding-top: 0
	.general-img-container-main img
		position: static
		display block
		margin 30px auto 0
		width 100%
		max-width 500px
	#video
		padding 0 0 45px
	.general-img-video-1
		top 0
	.general-text-video
		margin-top: 30px
	.about-section
		margin-top: 60px
	#usefull
		padding 90px 0
	.general-img-container-usefull img
	.general-img-container-lets img
		display block
		position: static
		margin 0 auto 30px
		width 100%
		max-width 500px
	#usefull
		padding-bottom: 45px
	.general-img-container-author
		width 100%
		max-width 534px
		margin 0 auto
	.general-img-container-author img:nth-child(2)
		position relative
		display block
		margin 0 auto 30px
		top 0
		left 0
		width 100%
	.general-img-container-author img:nth-child(3)
		right -45px
	.general-img-container-author img:first-child
		bottom: -30px
		left -100px
	.general-img-author
		top 50%
	#revs
		padding 0 0 90px
	.hr-desktop
		display none
	.hr-mobile
		display block
@media screen and (max-width 767px)
	header
		padding 15px 0
		margin-bottom: 15px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		text-align center
		float: none
		line-height: 1
	.contact
		display inline-block
		line-height: 1
	#main
		text-align center
		padding 0 0 45px
	.main-subtitle
		max-width none
	.form-main
		width 100%
		max-width 290px
		margin 0 auto
	.input-mail-main
		float: none
		margin 0 auto 10px
	.button-form-main
		width 100%
		display block
		max-width 290px
		float: none
	.checking-main .check-label
		line-height: 18px
	.about-section
		margin-top: 20px
	.usefull-img
		top 0
	.general-title-usefull
		margin-top: 45px
	.usefull-last-text
		margin 45px 0
	.last-text
		font-size: 22px
		margin 30px 0
	.day
		padding 210px 0 0
		background-position: top center
	.revs-text-img
		height 100px
@media screen and (max-width 560px)
	#main
		padding 0 0 40px
	.header-logo
		width 70px
	.contact
		font-size: 12px
	.contact-tel
		margin-left: 0
	.main-title
		font-size: 32px
	.main-subtitle
	.usefull-last-text
		font-size: 22px
		margin 20px 0
	.main-info
		font-size: 20px
	.main-info:last-of-type
		margin-bottom: 30px
	.general-text-about-section
		font-size: 22px
		margin-top: 20px
	#usefull
		padding 0 0 45px
	.general-title
		font-size: 26px
		line-height: 1.2
	hr
		margin 20px 0
	.general-text
		margin-bottom: 20px
	.day
		background-size: 100px
		padding 150px 0 0
	.day-title
		font-size: 22px
		margin-bottom: 20px
		line-height: 1.1
	.general-list li
		padding-left: 30px
		margin-bottom: 20px
		&:before
			width 15px
			top 14px
	.general-text-plan
		margin-top: 0
	#plan
	#lets
	#author
		padding 45px 0
	.author-title
		font-size: 26px
		margin-bottom: 20px
		small
			font-size: 16px
	.general-title-revs
		margin-top: 60px
	.revs-text-img
		height 80px
	.revs-text-link
		padding 5px
	#revs
		padding 0 0 70px
	.slick-list
		background-color #fff
	.last-title
		font-size: 30px
	.last-text
		font-size: 20px
		margin 20px 0 15px
	#last
		padding 45px 0 60px
	footer
		padding 15px 0
		font-size: 12px
	.mfp-arrow
		top auto
		bottom: 0
	.button
		padding 17px 30px
		min-width: 200px;
@media screen and (max-width 385px)
	.main-title
		font-size: 28px
		line-height: 1
	.main-subtitle, .usefull-last-text, .general-text-about-section
		font-size: 20px
	.main-info
		font-size: 18px
	.form-title
		font-size: 22px
	.general-text-video
		margin-top: 20px
	.general-title
		font-size: 24px
	.usefull-img
		width 350px
	.general-title-usefull
		margin-top: 20px
	#usefull
		padding 0
	.button-container-lets
		margin-top: 20px
	.last-title
		font-size: 26px
	.last-text
		font-size: 18px
	#last
		padding 45px 0