#plan
	padding 45px 0 90px
.general-img-plan-1
	top 100px
	left -280px
.general-img-plan-2
	bottom -90px
	right -320px
.day
	padding 20px 150px 20px 0
	background-repeat no-repeat
	background-position: center right 120px
	&-1
		background-image url(../img/icons/day-1.png)
	&-2
		background-image url(../img/icons/day-2.png)
	&-3
		background-image url(../img/icons/day-3.png)
	&-title
		font-size: 24px
		font-family: SUDB
		font-weight: bold
		color cB
		margin-bottom: 30px
.general-text-plan
	margin 30px 0 50px