#revs
	padding 90px 0
.general-img-revs
	top 80px
	left -260px
.general-title-revs
	margin-top: 90px
.revs-text-link
	background: #FFFFFF;
	border-radius: 20px;
	border: 1px solid cB
	padding 20px
	object-fit: cover
	object-position: center
	// margin 0 50px
	display flex !important
	align-items: center
	justify-content: center
	transform: scale(.9)
	transform: all .3s ease
.revs-text-img
	height 170px
	// height 90%
	width 100%
	object-fit: contain
	offset-position: center
.revs
	.slick-arrow
		bottom: -65px
.video-wrapper-rev
	transform: scale(.9)
	transform: all .3s ease
	padding 20px
	border-radius: 20px;
	overflow hidden
	&:after
		content none
	iframe
	img
		border-radius: 20px;
.slick-center
	transform: scale(1)
.slick-arrow
	top auto
	bottom: 20px
	z-index: 20;
	&:before
		color #000
		opacity 1
		font-size: 34px
		transform: all .3s ease
		&:hover
			color cB
.slick-next, .slick-prev
	width 34px
	height 40px
.slick-prev
	left calc(50% - 40px)
.slick-next
	right calc(50% - 40px)