*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: SUDL
	color #000
	background-color #fff
	line-height: 1.5
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
section
	overflow hidden
.container
	position relative
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	top 0
	// z-index 60
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 0
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
		margin 0 auto
.button
	display inline-block
	text-align center
	margin 0
	text-decoration none
	color: rgb(255, 255, 255);
	width: auto
	padding: 17px 64px
	border-radius: 100px
	background-color: cB
	position relative
	z-index 50
	transition: all .3s ease
	&:focus
		text-decoration none
		color #fff
	&:hover
		transform: translateY(-3px)
		background-color: cB +15%
		text-decoration none
		color #fff
	&:active
		background-color: cB
		transform: translateY(3px)
	&-container-center
		text-align center
.general-title
	font-size: 30px
	font-family: SUDB
	font-weight: bold
	margin-bottom: 30px
.general-img
	position absolute
	&-container
		position relative
		padding-top: 100%
		img
			position absolute
hr
	border: 1px solid #2F61AC;
	margin 30px 0
	.&-mobile
		display none
.general-list
	li
		list-style none
		margin-bottom: 30px
		position relative
		padding-left: 60px
		position relative
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			display block
			position absolute
			width 30px
			height 1px
			background-color: cB
			left 0
			top 15px
.general-text
	margin-bottom: 30px
	span
		color cB
		font-family: SUDB
		font-weight: bold