header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	position relative
	z-index 10
.header-logo
	float left
.contacts
	float: right
	line-height: 45px
.contact
	text-align left
	font-size: 18px
	color #000
	display inline-block
	&-tel
		margin 0 20px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000