section#video
	.container
		img.general-img.general-img-video-1(src=path+"img/icons/card-half-moon.png", alt="Карта с полумесяцем")
		img.general-img.general-img-video-2(src=path+"img/icons/card-helmet.png", alt="Карта со шлемом")
		.row
			.col-md-6
				.video-wrapper.video-wrapper-video
					iframe(src="https://youtube.com/embed/XFm4AAyN-m8?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
			.col-md-6
				p.general-text.general-text-video
					span Карты таро 
					| – одна из древнейших систем по работе с энергетикой человека и его психикой. В этих древних изображениях зашифрованы все «ключики» к пониманию поведения, мотивации и способов мышления людей. Опытный таролог может с помощью карт легко проанализировать и понять любую ситуацию, выявить суть проблемы, выполнив тот или иной расклад. Также специалист по таро способен осуществлять прогнозы, оценивая вероятность наступления того или иного события в будущем
		.about-section
			.row
				.col-md-3.col-md-push-9
					img(src=path+"img/icons/card-scales.png", alt="Карта с весам").about-section-img
				.col-md-9.col-md-pull-3
					p.general-text.general-text-about-section На мастер-классе 
						span Василий Попов
						|  в прямом эфире каждый день будет проводить разбор проблемы одного из участников.
						br
						| Чтобы узнать как попасть на разбор к мастеру - 
						span регистрируйтесь на бесплатный мастер-класс.