section#plan
	.container
		img.general-img.general-img-plan-1(src=path+"img/icons/card-goblet.png", alt="Карта с кубком")
		img.general-img.general-img-plan-2(src=path+"img/icons/card-sun.png", alt="Карта с солнцем")
		+gt('','Программа мастер-класса')
		hr
		.day.day-1
			h4.day-title День первый - «Знакомство с традицией»
			ul.general-list
				li Истоки таро
				li Структура таро: старшие (большие) и младшие (малые) арканы
				li Таро как гадательный инструмент и учебник по магии
				li Колода Уэйта как эталон
		hr
		.day.day-2
			h4.day-title День второй - «Старшие арканы»
			ul.general-list
				li Принцип группировки старших арканов в колоде
				li Старшие арканы как первопринципы
				li Гадательный принцип старших арканов
		hr
		.day.day-3
			h4.day-title День третий - «Малые арканы»
			ul.general-list
				li Принцип группировки малых арканов в колоде
				li Масти. Соотношение масти и первоэлементов
				li Придворные карты как архетипы. Сигнификаторы
		hr
		.row
			.col-md-8
				p.general-text.general-text-plan На мастер-классе будет проводиться 
					span демонстрация 
					| возможностей карт таро. В завершении каждого из трёх дней, на практике, Мастер будет выбирать одного из участников мастер-класса и в прямом эфире разбирать его ситуацию. Счастливчик подключится к прямому эфиру и будет комментировать те расклады, которые будет делать Мастер на его проблему.
				+b('','',href,'Иду на мастер-класс')