section#lets
	.container
		img(src=path+"img/icons/card-helmet.png", alt="Карта со шлемом").general-img.general-img-lets
		.row
			.col-md-5.col-md-push-7
				.general-img-container.general-img-container-lets
					img(src=path+"img/images/main.png", alt="Мастер-класс позволит вам:")
			.col-md-7.col-md-pull-5
				+gt('','Мастер-класс позволит вам:')
				hr
				p.general-text Получить полное понимание, что такое таро и как им пользоваться
				hr
				p.general-text Увидеть своими глазами возможности таро и результат от применения таро для улучшения жизни
				hr
				p.general-text Получить шанс разобрать волнующую Вас жизненную ситуацию в прямом эфире
				hr
				p.general-text Получить первичные навыки для работы с таро в качестве консультанта.
				hr
		+b('button-container-lets','',href,'Записаться')