section#author
	.container
		img.general-img.general-img-author(src=path+"img/icons/wheel.png", alt="Колесо")
		.row
			.col-md-5.col-md-push-7
				.general-img-container.general-img-container-author
					img(src=path+"img/icons/card-king.png", alt="Карта с королем")
					img(src=path+"img/images/basile.png", alt="Василий Попов")
					img(src=path+"img/icons/day-2.png", alt="Весы")
			.col-md-7.col-md-pull-5
				h4.author-title
					small о тренере
					| Васили Попов
				hr
				p.general-text В нынешнем воплощении занимается духовной практикой около 20 лет, но фактические истоки опыта Мастера теряются в глубине веков.
				hr
				p.general-text Профессионально занимается таро с 2009 года. За это время провёл более 2000 консультаций как в онлайн-формате, так и на личных приёмах в России и за её пределами.
				hr
				p.general-text Преподает таро с 2017 года. За это время длительное обучение у Мастера прошли около 1000 студентов, которые значительно улучшили качество жизни и решили свои проблемы. Многие из выпускников стали профессиональными тарологами и, оставив наёмную работу, посвятили себя любимому делу.
				hr
				p.general-text Имея в своём распоряжении обширные знания из области магии таро, рун, каббалистики, подкреплённые современными научными исследованиями, Василий Попов доносит сложнейшую Мудрость Сфер понятно, чётко, доходчиво.
				hr