section#last
	.container
		img(src=path+"img/icons/sun-2.png", alt="Синее солнце").general-img.general-img-last-1
		img(src=path+"img/icons/sun-2.png", alt="Синее солнце").general-img.general-img-last-2
		h3.last-title Начни сейчас это бесплатно!
		p.last-text Боле 20 000 учеников доверяют нам и реализует свои цели
		+b('button-container-center','','#Modal','Записаться')