section#main
	.container
		img.general-img.general-img-main-1(src=path+"img/icons/card-sword.png", alt="Карта с мечем")
		img.general-img.general-img-main-2(src=path+"img/icons/card-pentacle.png", alt="Карта с пентаклем")
		include ../base/1-header
		.row
			.col-md-7
				h1.main-title «Искусство таро». 
					span Основной курс
				h2.main-subtitle Используйте путеводитель по мистической картине мира, и он приведёт Вас к достойному заработку!
				p.main-info Старт курса: 
					span 2 сентября, в 19:00 (мск)
				p.main-info Автор курса: 
					span Василий Попов
				+b('','',href,'Записаться')
			.col-md-5
				.general-img-container.general-img-container-main
					img(src=path+"img/images/main.png", alt=head_title)