section#about
	.container
		img.general-img.general-img-about(src=path+"img/icons/card-half-moon.png", alt="Карта с полумесяцем")
		.row
			.col-md-8
				p.general-text
					span Курс «Искусство таро» 
					| – это не один из банальных тренингов, которые рекламируются сплошь и рядом и создаются каждым пятым онлайн-выпускником. Знания, структурированные в учебных блоках курса, позволят Вам освоить с нуля и в короткие сроки достойную профессию таролога и начать зарабатывать себе на жизнь через эффективную помощь другим людям. Всё, что Вы узнаете во время занятий, Вы сможете использовать для решения любой проблемы и ответа на любой вопрос.