section#for
	.container
		img.general-img.general-img-for-1(src=path+"img/icons/card-helmet.png", alt="Карта с королем")
		.row
			.col-md-5.col-md-push-7
				.general-img-container.general-img-container-for
					img(src=path+"img/images/usefull.png", alt="Этот курс для тех, кто:")
			.col-md-7.col-md-pull-5
				+gt('','Этот курс для тех, кто:')
				hr
				p.general-text Хочет освоить гадание на таро на самом глубоком профессиональном уровне
				hr
				p.general-text Желает узнать об истоках этой традиции и получить системное знание
				hr
				p.general-text Устал заучивать значения карт и хочет быстро и легко научиться понимать карты
				hr
				p.general-text Желает при работе с таро не просто рассматривать вопрос или ситуацию, а сразу «видеть» пути выхода или решение
				hr
				p.general-text Планирует использовать таро не просто как гадательный инструмент, а как учебник и путеводитель по мистической картине мира
				hr
				p.general-text Мечтает решить свои давние проблемы, связанные со здоровьем, личной жизнью, финансами, судьбой
				hr
				p.general-text Получить новую профессию таролога и зарабатывать от 50000 тысяч рублей в месяц
				hr
		+b('button-container-center button-container-for','button-for',href,'Записаться')
		img(src=path+"img/icons/dagger.png", alt="Кинжал").for-img