section#plan
	.container
		img.general-img.general-img-plan-1(src=path+"img/icons/card-king.png", alt="Карта с королем")
		img.general-img.general-img-plan-2(src=path+"img/icons/card-goblet.png", alt="Карта с кубком")
		img.general-img.general-img-plan-3(src=path+"img/icons/card-helmet.png", alt="Карта с шлемом")
		+gt('','Программа курса:')
		.plan
			ul.nav.nav-tabs.plan-links(role="tablist")
				li(role="presentation" class="active")
					a(href="#silver" aria-controls="#silver" role="tab" data-toggle="tab") Пакет 
						span Серебро
				li(role="presentation")
					a(href="#gold" aria-controls="#gold" role="tab" data-toggle="tab") Пакет 
						span Золото
				li(role="presentation")
					a(href="#platinum" aria-controls="#platinum" role="tab" data-toggle="tab") Пакет 
						span Платина
			hr
			.tab-content
				.tab-pane.fade.in.active(role="tabpanel")#silver
					.lesson
						h5.lesson-title Занятие 1. Малые Арканы: мечи
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Масть мечей: проявления силы, энергетики, интеллекта
								li От двоек мечей к десяткам мечей: путь повышения магнетизма и личной силы
								li Придворные карты масти мечей: архетипы, характер
								li Зарядка карт масти мечей
					.lesson
						h5.lesson-title Занятие 2. Малые Арканы: динарии
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Масть динариев: проявления материального мира
								li От двоек динариев к десяткам динариев: путь повышения материального благосостояния
								li Придворные карты масти динариев: архетипы, характер
								li Зарядка карт масти динариев
					.lesson
						h5.lesson-title Занятие 3. Малые Арканы: чаши
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Масть динариев: проявления чувственной сферы
								li От двоек чаш к десяткам чаш: путь к счастью
								li Придворные карты масти чаш: архетипы, характер
								li Зарядка карт масти чаш
					.lesson
						h5.lesson-title Занятие Занятие 4. Малые Арканы: жезлы
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Масть жезлов: проявления судьбы и вопросы будущего
								li От двоек жезлов к десяткам жезлов: путь обретения контроля над судьбой
								li Придворные карты масти жезлов: архетипы, характер
								li Зарядка карт масти жезлов
					.lesson
						h5.lesson-title Занятие 5. Большие Арканы. Часть 1
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы группировки Больших Арканов и их нумерация
								li Первичные Арканы: 1-9. Значения
								li Зарядка Старших Арканов с 1 по 9
					.lesson
						h5.lesson-title Занятие 6. Большие Арканы. Часть 2
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Вторичные Арканы: 10-18. Значения
								li Третичные Арканы: 19-22. Значения
								li Зарядка Старших Арканов с 10 по 22
					.lesson
						h5.lesson-title Занятие 7. Кресты Пути. Часть 1
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Соотнесенность Больших и Малых Арканов
								li Соотнесенность Малых Арканов «по горизонтали» и «по вертикали»
								li Кресты Пути как основа развития человека. Кресты 2-5
								li Зарядка Крестов 2-5
					.lesson
						h5.lesson-title Занятие 8. Кресты Пути. Часть 2
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Кресты Пути как основа развития человека. Кресты 6-10
								li Зарядка Крестов 6-10
					.lesson
						h5.lesson-title Занятие 9. Кресты Пути. Часть 3
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Использование вторичных Старших Арканов в Крестах Пути
								li Использование третичных Старших Арканов в Крестах Пути
								li Взаимодействие Старших и Младших Арканов внутри Крестов Пути
					.lesson
						h5.lesson-title Занятие 10. Расклад «Ответ по трем картам»
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принцип расклада
								li Принцип веера и как им пользоваться
								li Настройка колоды. Тасовка карт
								li Трактовка раскладов
					h5.plan-packet-title-get
						span После пакета «Серебро» Вы узнаете:
					ul.general-list.general-list-lesson
						li Значения всех 78-ми карт колоды;
						li Взаимосвязи старших и младших арканов «по вертикали» и «по горизонтали»;
						li Как свободно ориентироваться в пространстве карты;
						li Принципы построения каждой карты – нет нужды учить значения наизусть;
						li Как делать расклад «Ответ по трём картам», который позволит отвечать на любые свои вопросы, задаваемые картам, а также давать ответы на вопросы другим людям;
						li Каким образом можно входить в пространство карты и считывать с неё информацию;
						li Таинство подключения к информационному полю планеты для получения информации для ответов
				.tab-pane.fade(role="tabpanel")#gold
					h5.plan-packet-subtitle Включает в себя всё из пакета СЕРЕБРО, а также:
					.lesson
						h5.lesson-title Занятие 1. Расклад VI. Любовь
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы VI Расклада. VI Аркан как трафарет
								li Глифы VI Аркана
								li Схема VI Расклада
								li Вопросы VI Расклада
								li Практика: трактовка VI Расклада
					.lesson
						h5.lesson-title Занятие 2. Расклад VI. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с VI Раскладом
								li Диктант
								li Трактовка VI Расклада
					.lesson
						h5.lesson-title Занятие 3. Расклад XV. Семья, бизнес
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы XV Расклада. XV Аркан как трафарет
								li Глифы XV Аркана
								li Схема XV Расклада
								li Вопросы XV Расклада
								li Практика: трактовка XV Расклада
					.lesson
						h5.lesson-title Занятие 4. Расклад XV. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с XV Раскладом
								li Диктант
								li Трактовка XV Расклада
					.lesson
						h5.lesson-title Занятие 5. Расклад VII. Стратегии успеха
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы VII Расклада. VII Аркан как трафарет
								li Глифы VII Аркана
								li Схема VII Расклада
								li Вопросы VII Расклада
								li Практика: трактовка VII Расклада
					.lesson
						h5.lesson-title Занятие 6. Расклад VII. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с VII Раскладом
								li Диктант
								li Трактовка VII Расклада
					.lesson
						h5.lesson-title Занятие 7. Расклад XVII. Здоровье
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы XVII Расклада. XVII Аркан как трафарет
								li Глифы XVII Аркана
								li Схема XVII Расклада
								li Вопросы XVII Расклада
								li Практика: трактовка XVII Расклада
					.lesson
						h5.lesson-title Занятие 8. Расклад XVII. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с XVII Раскладом
								li Диктант
								li Трактовка XVII Расклада
					h5.plan-packet-title-get
						span После пакета «Золото» Вы в совершенство освоите 4 профильных расклада 
						| дающие ответы на 90% всех вопросов, которые возникают у клиентов: 
					ul.general-list.general-list-lesson
						li Расклад VI – на вопросы отношений между людьми (включая любовные);
						li Расклад XV – на вопросы отношений в семье и бизнесе;
						li Расклад VII – на разработку выигрышной стратегии в любом деле (достижение успеха);
						li Расклад XVII – на вопросы здоровья и жизненной энергии
				.tab-pane.fade(role="tabpanel")#platinum
					h5.plan-packet-subtitle Включает в себя всё, что входит в пакеты СЕРЕБРО и ЗОЛОТО, а также:
					.lesson
						h5.lesson-title Занятие 1. Расклад XVIII. Прогностика
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы XVIII Расклада. XVIII Аркан как трафарет
								li Глифы XVIII Аркана
								li Схема XVIII Расклада
								li Вопросы XVIII Расклада
								li Практика: трактовка XVIII Расклада
					.lesson
						h5.lesson-title Занятие 2. Расклад XVIII. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с XVIII Раскладом
								li Диктант
								li Трактовка XVIII Расклада
					.lesson
						h5.lesson-title Занятие 3. Расклад XVI. Прошлое. Карма
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы XVI Расклада. XVI Аркан как трафарет
								li Глифы XVI Аркана
								li Схема XVI Расклада
								li Вопросы XVI Расклада
								li Практика: трактовка в XVI Расклада
					.lesson
						h5.lesson-title Занятие 4. Расклад XVI. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с XVI Раскладом
								li Диктант
								li Трактовка XVI Расклада
					.lesson
						h5.lesson-title Расклад X. Судьба
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Принципы X Расклада. X Аркан как трафарет
								li Глифы X Аркана
								li Схема X Расклада
								li Вопросы X Расклада
								li Практика: трактовка X Расклада
					.lesson
						h5.lesson-title Занятие 6. Расклад X. Практикум
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Отработка навыков работы с X Раскладом
								li Диктант
								li Трактовка X Расклада
					.lesson
						h5.lesson-title Занятие 7. Основы Сефиротической Магии. Посвящение
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Дерево Сефирот как базовая схема расположения Старших Арканов
								li Младшие Арканы внутри Дерева Сефирот как набор практик
								li Определение текущей практики. Выход на эгрегоры Земли
					.lesson
						h5.lesson-title Посвящение
							span
						.lesson-description
							ul.general-list.general-list-lesson
								li Посвящение в Тарологи
								li Освящение колоды
					h5.plan-packet-title-get Бонусный мини курс от смм специалиста Master Vision 
						span Юлии Масюль
					ul.general-list.general-list-lesson
						li Урок 1.1. Вводная часть: что такое социальные сети, какие сейчас трендовые, что такое визуал и работа с ним
						li Урок 1.2. Инструменты для работы в социальных сетях – canva, inshot, supa, taplink
						li Урок 1.3. Что такое контент-план, для чего он нужен
						li Урок 2.1. Знакомство с понятием – таргетированная реклама, подготовка инстаграм аккаунта
						li Урок 2.2. Создание рекламного кабинета в Фэйсбук
						li Урок 2.3. Создание и настройка креативов
						li Урок 2.4. Запуск рекламного объявления с кнопки «Продвигать публикацию»
					h5.plan-packet-title-get
						span После пакета «Платина» Вы в совершенство освоите 3 профильных расклада 
						| предназначенных для тех, кто хочет решать вопросы, выходящие за рамки привычной системы ценностей социума и позволяющих рассматривать самые глубокие пласты бытия: 
					ul.general-list.general-list-lesson
						li Расклад XVIII – на вопросы будущего, прогнозирования и планирования предстоящих событий;
						li Расклад XVI – на вопросы кармы, прошлых событий, извлечения жизненного опыта из события и выяснения причин того или иного события;
						li Расклад X – на вопросы судьбы, предназначения, смысла жизни, задачи на различных уровнях реальности
					p.plan-packet-text  В этом же блоке предусмотрено посвящение в тарологи, которое укрепит Ваш канал к эгрегору таро. Это позволит ещё легче и комфортнее получать всю необходимую информацию
		+b('button-container-center button-container-plan','',href,'Иду на курс')