section#lets
	.container
		img(src=path+"img/icons/card-helmet.png", alt="Карта со шлемом").general-img.general-img-lets
		.row
			.col-md-5.col-md-push-7
				.general-img-container.general-img-container-lets
					img(src=path+"img/images/main.png", alt="Курс позволит вам:")
			.col-md-7.col-md-pull-5
				+gt('','Курс позволит вам:')
				hr
				p.general-text Получить ответы на все вопросы, терзающие Вас много лет
				hr
				p.general-text Начать понимать потребности Ваших близких людей и наладить отношения с ними
				hr
				p.general-text Повысить своё благосостояние
				hr
				p.general-text Лучше понять себя и научиться управлять своей жизнью
				hr
				p.general-text Стать более спокойным и уверенным в своих силах
				hr
				p.general-text Научиться легко разбираться в жизненных ситуациях любой сложности
				hr
				p.general-text Чётко знать, почему с Вами в прошлом произошло то или иное событие
				hr
				p.general-text Осознать своё предназначение
				hr
				p.general-text Построить именно то будущее, которое Вам необходимо!
				hr
		+b('button-container-center button-container-lets','',href,'Мне это необходимо')