.white-popup.mfp-hide#Modal-1
	img.general-img.general-img-modal(src=path+"img/icons/card-half-moon.png", alt="Карта с полумесяцем")
	h4.modal-title Пакет "Серебро"
	ul.general-list.general-list-packet
		li Занятие 1. Малые Арканы: мечи
		li Занятие 2. Малые Арканы: динарии
		li Занятие 3. Малые Арканы: чаши
		li Занятие 4. Малые Арканы: жезлы
		li Занятие 5. Большие Арканы. Часть 1
		li Занятие 6. Большие Арканы. Часть 2
		li Занятие 7. Кресты Пути. Часть 1
		li Занятие 8. Кресты Пути. Часть 2
		li Занятие 9. Кресты Пути. Часть 3
		li Занятие 10. Расклад «Ответ по трем картам»
.white-popup.mfp-hide#Modal-2
	img.general-img.general-img-modal(src=path+"img/icons/card-sword.png", alt="Карта с мечем")
	h4.modal-title Пакет "Золото"
	ul.general-list.general-list-packet
		li Занятие 1. Расклад VI. Любовь
		li Занятие 2. Расклад VI. Практикум
		li Занятие 3. Расклад XV. Семья, бизнес
		li Занятие 4. Расклад XV. Практикум
		li Занятие 5. Расклад VII. Стратегии успеха
		li Занятие 6. Расклад VII. Практикум
		li Занятие 7. Расклад XVII. Здоровье
		li Занятие 8. Расклад XVII. Практикум
.white-popup.mfp-hide#Modal-3
	img.general-img.general-img-modal(src=path+"img/icons/card-pentacle.png", alt="Карта с пентаклем")
	h4.modal-title Пакет "Платина"
	ul.general-list.general-list-packet
		li Занятие 1. Расклад XVIII. Прогностика.Занятие 2. Расклад XVIII. Практикум
		li Занятие 3. Расклад XVI. Прошлое. Карма
		li Занятие 4. Расклад XVI. Практикум
		li Занятие 5. Расклад X. Судьба
		li Занятие 6. Расклад X. Практикум
		li Занятие 7. Основы Сефиротической Магии. Посвящение
		li Посвящение в Тарологи